<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ecloudIntegrationImport" xsi:type="object">Ecloud\Integrations\Console\Command\Import</item>
                <item name="ecloudIntegrationExport" xsi:type="object">Ecloud\Integrations\Console\Command\Export</item>
            </argument>
        </arguments>
    </type>
    <type name="Ecloud\Integrations\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <virtualType name="Ecloud\Integrations\Logger\SystemLogger" type="Ecloud\Integrations\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ecloud_integrations</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Ecloud\Integrations\Logger\Handler\System</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ecloud\Integrations\Logger\ApiLogger" type="Ecloud\Integrations\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ecloud_integrations_api</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Ecloud\Integrations\Logger\Handler\Api</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ecloud\Integrations\Helper\Data">
        <arguments>
            <argument name="loggers" xsi:type="array">
                <item name="system" xsi:type="object">Ecloud\Integrations\Logger\SystemLogger</item>
                <item name="api" xsi:type="object">Ecloud\Integrations\Logger\ApiLogger</item>
            </argument>
        </arguments>
    </type>

    <preference for="Ecloud\Integrations\Api\IntegrationInterface" type="Ecloud\Integrations\Model\Api\Integration" />
    <preference for="Ecloud\Integrations\Api\IntegrationResponseInterface" type="Ecloud\Integrations\Model\Api\IntegrationResponse" />

    <!-- Restriction grid -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ecloud_integrations_restriction_listing_data_source" xsi:type="string">Ecloud\Integrations\Model\ResourceModel\Restriction\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Ecloud\Integrations\Model\ResourceModel\Restriction\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ecloud_integrations_restriction</argument>
            <argument name="resourceModel" xsi:type="string">Ecloud\Integrations\Model\ResourceModel\Restriction</argument>
        </arguments>
    </virtualType>
    <!-- /Restriction grid/ -->
</config>